.pac-container{
    font-family: 'Lato', sans-serif;
    
    &:after{
        display: none;
    }
    
    .pac-item{
        color: @textLight;
        
        .pac-icon-marker{
            background-image: none;
            .fm('Glyphicons Halflings');
            margin-top: 0;
            .fs(14px);
            width: auto; height: auto;
            color: @textLight;
        }
        
        .pac-item-query{
            color: @textLight;
            
            .pac-matched{
                color: @textDark;
            }
        }
        
        &:hover{
            cursor: pointer;
            .bg(@greyLight);
        }
    }
}

#adressesList{
    ul.listAdresses{
        padding: 0 15px;
        
        li{
            padding: 15px 0;
            border-bottom: 1px solid @grey;
            
            .title{
                padding: 0 15px;
            }
            
            .locationAddress{
                display: inline-block;
                width: 100%;
            }
            
            &:first-of-type{
                padding-top: 0;
            }
            
            &:last-of-type{
                margin-bottom: 15px;
            }
        }
    }
}

#listsSelect{
    ul{
        li{
            padding: 5px 15px;
            
            .title{
                margin: 0;
                .fw4;
            }
            
            .icons{
                padding: 0;
                .textRight;
                
                i{
                    color: @textLight;
                    margin-top: 2px;
                }
            }
            
            &:hover{
                cursor: pointer;
                
                i{
                    color: @textDark;
                }
            }
        }
    }
}