///////////////////////// CSS Spec /////////////////////////

.fs(@fs){
    font-size: @fs;
}

.fm(@fm){
    font-family: @fm;
}

.bg(@bg){
    background-color: @bg;
}

.br(@radius){
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

.none{
    display: none;
}

.uppercase{
    text-transform: uppercase;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.textRight{
    text-align: right;
}

.textLeft{
    text-align: left;
}

.fw3{
    font-weight: 300;
}

.fw4{
    font-weight: 400;
}

.fw7{
    font-weight: 700;
}

.fw9{
    font-weight: 900;
}

.center{
    text-align: center;
}

///////////////////////// Couleurs /////////////////////////

@primary: #1bbc9b; // #357df4
@secondary: #ccf4ec; // #d3e8ff
@primaryDark: darken(@primary, 10%);
@white: #fff;
@grey: #e7eaec;
@greyLight: #f3f3f4;
@greyDark: #293846;
@greyDarkLight: #2f4050;
@textDark: #676a6c;
@textLight: #9da8b9;
@bgOpacity: rgba(0, 0, 0, 0.6);
@primaryOpacity: rgba(27, 188, 155, 0.6); // rgba(53, 125, 244, 0.6)
@error: #d91e18;
@errorOpacity: rgba(217, 30, 24, 0.6);
@black: #000;

///////////////////////// Boutons /////////////////////////

.btn{
    margin: 0;
    .br(4px);
    .fs(16px);
    .transition-duration(100ms);
    
    &:hover{
        .transition-duration(100ms);
    }
    
    &:focus{
        outline: none;
    }
    
    &:active{
        .box-shadow(@shadow: none);
        
        &:focus{
            outline: none;
        }
    }
}

.btnPrimary{
    .bg(@primary);
    color: @white;
    border: 1px solid transparent;
    
    &:hover{
        color: @primary;
        border: 1px solid @primary;
        .bg(@white);
    }
    
    &:focus{
        color: @primary;
        border: 1px solid @primary;
        .bg(@white);
    }
}

.btnBig{
    padding: 10px 70px;
    .uppercase;
}

.btnHoverGrey{
    &:hover{
        color: @textDark;
        .bg(@grey);
        border: 1px solid transparent;
    }
    
    &:focus{
        .bg(@grey);
        color: @textDark;
        border: 1px solid transparent;
    }
}

.btnWhite{
    .bg(@white);
    color: @primary;
    border: 1px solid @white;
    
    &:hover{
        color: @white;
        border: 1px solid @white;
        .bg(@primary);
        
        &:focus{
            color: @white;
        }
    }
    
    &:focus{
        color: @primary;
    }
}

///////////////////////// Liens /////////////////////////

.link{
    text-decoration: none;
    display: inline-block;
    
    &:hover{
        cursor: pointer;
        text-decoration: underline;
    }
}

.linkBlue{
    color: @primary;
}

.linkError{
    color: @error;
}

///////////////////////// Filtres /////////////////////////

.filter{
    .absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 0;
}

.filterBlack{
    .bg(@bgOpacity);
}

///////////////////////// Tailles éléments /////////////////////////

@widthMenu: 220px;

///////////////////////// Body /////////////////////////

body{
    .fs(16px);
    .fw4;
    font-family: 'Lato', sans-serif;
    color: @textDark;
    overflow: hidden;
    
    #logo{
        height: 200px; width: 200px;
        border: 10px solid @white;
        .bg(@primary);
        background-image: url("../images/logo.png");
        .br(200px);
        background-position: center center;
        background-repeat: no-repeat;
        .box-shadow(@shadow: 0 0 10px -5px @black);
    }
    
    .headApp{
        .fw3;
        height: 100px;
        line-height: 100px;
        .fs(25px);
        .bg(@white);
        padding: 0 30px;
        border-bottom: 1px solid @grey;
    }
    
    .form-control{
        border: 1px solid @grey;
    }
    
    .contentBox{
        margin-top: 30px;
    }
    
    .inBox{
        border-top: 3px solid @grey;
        .bg(@white);
        
        .title{
            .fw7;
            display: block;
            padding: 10px 15px;
            border-bottom: 1px solid @grey;
        }
        
        .inBoxContent{
            padding: 15px;
            .fs(14px);
            
            .title{
                padding: 0;
                border: none;
                margin-bottom: 5px;
            }
            
            p{
                margin: 0;
            }
            
            form{
                .form-group{
                    .relative;
                    
                    label{
                        .fw4;
                        .textLeft;
                    }
                    
                    .errorInfos{
                        .absolute;
                        top: 8px; right: 25px;
                        color: @textLight;
                    }
                    
                    &:last-of-type{
                        margin-bottom: 0;
                    }
                }
                
                input{
                    &:focus{
                        border-color: @primary;
                        .box-shadow(@shadow: 0 0 8px @primaryOpacity);
                    }

                    &.ng-touched.ng-invalid{
                        border-color: @error;
                        .box-shadow(@shadow: 0 0 8px @errorOpacity);
                    }

                    &.errorBackEnd{
                        border-color: @error;
                        .box-shadow(@shadow: 0 0 8px @errorOpacity);
                    }
                }
            }
            
            .multiContent{
                padding: 15px 0;
                border-bottom: 1px solid @grey;
                
                &:first-of-type{
                    padding-top: 0;
                }
                
                &:last-of-type{
                    padding-bottom: 0;
                    border-bottom: none;
                }
                
                ul{
                    padding: 0;
                    margin-bottom: 0;
                    
                    li{
                        margin: 0;
                        list-style-type: none;
                        
                        .categorieSelect{
                            color: @textDark;
                            .bg(@greyLight);
                            display: inline-block;
                            width: 100%;
                            .center;
                            margin-bottom: 3px;
                            padding: 4px;
                            .transition-duration(100ms);
                            .br(4px);
                            
                            &.active{
                                .bg(@primary);
                                color: @white;
                            }
                            
                            &:hover{
                                .bg(@grey);
                                .transition-duration(100ms);
                                cursor: pointer;
                                
                                &.active{
                                    .bg(@primary);
                                }
                            }
                            
                            &:focus{
                                outline: none;
                            }
                        }
                    }
                }
            }
        }
    }
}