///////////////////////// CSS Spec /////////////////////////

.fs(@fs){
    font-size: @fs;
}

.fs11{
    .fs(11px);
}

.fm(@fm){
    font-family: @fm;
}

.bg(@bg){
    background-color: @bg;
}

.br(@radius){
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

.none{
    display: none;
}

.uppercase{
    text-transform: uppercase;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.textRight{
    text-align: right;
}

.textLeft{
    text-align: left;
}

.fw3{
    font-weight: 300;
}

.fw4{
    font-weight: 400;
}

.fw7{
    font-weight: 700;
}

.fw9{
    font-weight: 900;
}

.center{
    text-align: center;
}

.inlineAll{
    display: inline-block;
    width: 100%; height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.placeholder(@color){
    &:-moz-placeholder {
        color: @color;
    }
    
    &:-ms-input-placeholder {
        color: @color;
    }
    
    &::-webkit-input-placeholder {
        color: @color;
    }
}

///////////////////////// Couleurs /////////////////////////

@primary: #1bbc9b; // #357df4
@primaryDark: darken(@primary, 10%);
@secondary: lighten(@primary, 45%); // #d3e8ff
@three: #b198dc;
@threeDark: darken(@three, 10%);
@four: #56bdde;
@five: #ff8762;
@white: #fff;
@black: #000;
@error: #d91e18;
@errorDark: darken(@error, 10%);

// text + bg
@grey: #e7eaec;
@greyLight: #f3f3f4;
@textDark: #676a6c;

// Menu
@greyDark: #293846;
@greyDarkLight: #2f4050;
@textLight: #9da8b9; //lighten(@textDark, 15%);

// Home
@bgOpacity: rgba(0, 0, 0, 0.6);

///////////////////////// Boutons /////////////////////////

.btn{
    margin: 0;
    .br(4px);
    .fs(14px);
    .transition-duration(100ms);
    
    &:hover{
        .transition-duration(100ms);
    }
    
    &:focus{
        outline: none;
    }
    
    &:active{
        .box-shadow(@shadow: none);
        
        &:focus{
            outline: none;
        }
    }
}

.btnPrimary{
    .bg(@primary);
    color: @white;
    
    &:hover{
        .bg(@primaryDark);
        color: @white;
    }
    
    &:focus{
        .bg(@primary);
        color: @white;
        
        &:hover{
            .bg(@primaryDark);
            color: @white;
        }
    }
}

.btnBig{
    padding: 10px 70px;
    .uppercase;
}

.btnHoverGrey{
    &:hover{
        color: @textDark;
        .bg(@grey);
    }
    
    &:focus{
        .bg(@primary);
        color: @white;
        
        &:hover{
            color: @textDark;
            .bg(@grey);
        }
    }
}

.btnFullWidth{
    width: 100%;
}

.btnBigWidth{
    width: 300px;
}

.btnMidWidth{
    width: 150px;
}

.btnGhostGrey{
    .bg(@white);
    color: @textLight;
    border: 1px solid @grey;
    
    &:hover{
        color: @textLight;
        .bg(@greyLight);
    }
}

.btnDelete{
    .bg(@error);
    color: @white;
    
    &:hover, &:focus{
        .bg(@errorDark);
        color: @white;
    }
}

.btnThree{
    .bg(@three);
    color: @white;
    
    &:hover{
        .bg(@threeDark);
        color: @white;
    }
    
    &:focus{
        .bg(@three);
        color: @white;
        
        &:hover{
            .bg(@threeDark);
            color: @white;
        }
    }
}

///////////////////////// Liens /////////////////////////

.link{
    text-decoration: none;
    display: inline-block;
    
    &:hover{
        cursor: pointer;
        text-decoration: underline;
    }
}

.linkPrimary{
    color: @primary;
}

.linkError{
    color: @error;
}

///////////////////////// Filtres /////////////////////////

.filter{
    .absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 0;
}

.filterBlack{
    .bg(@bgOpacity);
}

///////////////////////// Tailles éléments /////////////////////////

@widthMenu: 220px;

///////////////////////// Body /////////////////////////

body{
    .fs(14px);
    .fw4;
    font-family: 'Lato', sans-serif;
    color: @textDark;
    overflow: hidden;
    
    .page{
        .absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        .bg(@greyLight);

        .content{
            .absolute;
            top: 0; left: @widthMenu; right: 0; bottom: 0;
        }
    }
    
    ul{
        margin: 0;
        padding: 0;
            
        li{
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
    }
    
    #logo{
        height: 200px; width: 200px;
        border: 10px solid @white;
        .bg(@primary);
        background-image: url("../images/logo.png");
        .br(200px);
        background-position: center center;
        background-repeat: no-repeat;
        .box-shadow(@shadow: 0 0 10px -5px @black);
    }
    
    .headApp{
        .fw3;
        min-height: 100px;
        .fs(25px);
        .bg(@white);
        padding: 10px 15px;
        border-bottom: 1px solid @grey;
        
        .title{
            display: inline-block;
            margin-top: 22px;
        }
        
        ul.otherHeadElem{
            margin-top: -10px;
            .fw4;
            
            li{
                .fs(13px);
                line-height: 20px;
                display: inline-block;
                margin-right: 15px;
                color: @textLight;
                
                &.active{
                    color: @primary;
                    
                    &:hover{
                        color: @primary;
                    }
                }
                
                &:hover{
                    cursor: pointer;
                    color: @textDark;
                }
            }
        }
        
        .errorBlock{
            .fs(13px);
            .textLeft;
        }
    }
    
    .form-control{
        border: 1px solid @grey;
        color: @textLight;
        .placeholder(@textLight);
        .br(0);
        .box-shadow(@shadow: none);
        
        &:focus{
            .box-shadow(@shadow: none);
        }
        
        &.select{
            &:focus{
                border-color: @primary;
            }
        }
    }
    
    .contentBox{
        padding: 30px 0 15px;
    }
    
    .toolTip{
        .bg(@four);
        .fw4;
        .fs(12px);
        padding: 2px 10px;
        .br(4px);
        color: @white;
    }
    
    .errorBlock{
        color: @error;
        display: block;
        .center;
    }
    
    .errorBlockMargin{
        margin-top: 15px;
    }
    
    .inBox{
        border-top: 3px solid @grey;
        .bg(@white);
        
        .title{
            .fw7;
            display: block;
            padding: 10px 15px;
            border-bottom: 1px solid @grey;
            .fs(16px);
            
            .toolTip{
                float: right;
            }
        }
        
        .inBoxContent{
            padding: 15px;
            .fs(13px);
            
            .title{
                padding: 0;
                border: none;
                margin-bottom: 8px;
                .fs(14px);
            }
            
            p{
                margin: 0;
            }
            
            form{
                .form-group{
                    .relative;
                    
                    .control-label{
                        .fw7;
                        .textLeft;
                    }
                    
                    .errorInfos{
                        .absolute;
                        top: 8px; right: 25px;
                        color: @textLight;
                    }
                    
                    &:last-of-type{
                        margin-bottom: 0;
                    }
                    
                    &.noMargin{
                        margin-bottom: 0;
                    }
                }
                
                input{
                    .fs(13px);
                    color: @textLight;
                    
                    &:focus{
                        border-color: @primary;
                        .box-shadow(@shadow: none);
                    }

                    &.ng-touched.ng-invalid{
                        border-color: @error;
                        .box-shadow(@shadow: none);
                    }

                    &.errorBackEnd{
                        border-color: @error;
                        .box-shadow(@shadow: none);
                    }
                }
            }
            
            .multiContent{
                padding: 15px 0;
                border-bottom: 1px solid @grey;
                
                &:first-of-type{
                    padding-top: 0;
                }
                
                &:last-of-type{
                    padding-bottom: 0;
                    border-bottom: none;
                }
            }
        }
        
        &.other{
            margin-top: 25px;
        }
    }
    
    .compactBox{
        .fs(13px);
        margin-bottom: 15px;
        
        .contentCompact{
            display: inline-block;
            width: 100%;
            .bg(@white);
            padding: 15px 0;
            border: 1px solid @grey;
        }
        
        .glyphicon-big{
            .fs(70px);
        }
        
        .elemPlus{
            margin-top: 15px;
                
            .glyphicon{
                .fs(14px);
                color: @textLight;
                margin-left: 5px;
                    
                &:hover{
                    cursor: pointer;
                    color: @textDark;
                }
            }
        }
        
        .title{
            display: inline-block;
            width: 100%;
            .fs(14px);
            .fw7;
            margin-bottom: 8px;
            height: 20px;
            overflow: hidden;
        }
        
        .location{
            height: 55px;
            overflow: hidden;
        }
        
        .otherInfo{
            margin-top: 5px;
            
            .info{
                display: inline-block;
                width: 100%;
                height: 18px;
                overflow: hidden;
            }
        }
        
        &:hover{
            .glyphicon-big{
                color: @primary;
            }
        }
    }
    
    .noResults{
        margin-top: 50px;
        
        .title{
            display: inline-block;
            width: 100%;
            .fs(16px);
            .fw7;
            margin-bottom: 10px;
        }
        
        p{
            margin-bottom: 20px;
        }
        
        i{
            .fs(400px);
            margin-top: 50px;
            color: @grey;
        }
    }
    
    .categorieLabel{
        .fs(12px);
        .bg(@three);
        color: @white;
        .br(4px);
        padding: 2px 10px;
    }
    
    .searchFull{
        .form-control{
            border: none;
            border-bottom: 1px solid @grey;
            .box-shadow(@shadow: none);
            .br(0);
            .bg(@greyLight);
            height: 55px;
            padding: 6px 15px;
            .fs(13px);
        }
    }
    
    ul.listAdresses{
        padding: 0 15px;

        li{
            padding: 15px 0;
            border-bottom: 1px solid @grey;

            .title{
                padding: 0 15px!important;
                height: 20px;
                overflow: hidden;
            }

            .locationAddress{
                display: inline-block;
                width: 100%;
                height: 20px;
                overflow: hidden;
            }

            .elemPlus{
                margin-top: 15px;
                
                &.elemPlusAddress{
                    margin-top: 0;
                }
                
                .glyphicon{
                    .fs(14px);
                    color: @textLight;
                    margin-left: 5px;
                    
                    &:hover{
                        cursor: pointer;
                        color: @textDark;
                    }
                }
                
                .link{
                    .glyphicon{
                        .fs11;
                        color: @primary;
                    }
                }
                
                .blockElemPlus{
                    margin-top: 10px;
                    
                    .fw7{
                        display: inline-block;
                        margin-bottom: 2px;
                        width: 100%;
                    }
                    
                    &.comments{
                        margin-top: 25px;

                        .title{
                            display: inline-block;
                            .center;
                            .bg(@greyLight);
                            padding: 10px 0!important;
                            .fw7;
                            height: auto;
                        }
                        
                        ul{
                            li{
                                padding: 25px 0;
                                
                                .userComment{
                                    display: inline-block;
                                    margin-bottom: 8px;
                                }
                                
                                &:last-of-type{
                                    padding-bottom: 0;
                                    border: none;
                                    margin-bottom: 0;
                                }
                            }
                            
                            &.stars{
                                li{
                                    padding: 0;
                                }
                            }
                        }
                    }
                }
            }

            &:first-of-type{
                padding-top: 0;
            }

            &:last-of-type{
                margin-bottom: 15px;
                
                &.lonely{
                    margin: 0;
                    padding: 0;
                    border: none;
                }
            }
            
            .addressSplit{
                margin: 0;
                padding: 0;

                li{
                    margin: 0;
                    padding: 0;
                    border: none;
                    
                    &.active{
                        color: @primary;
                    }
                }
            }

        }
        
        &.noButton{
            li{
                &:last-of-type{
                    margin: 0;
                    border: none;
                    padding-bottom: 0;
                }
            }
        }
        
        &.complete{
            display: inline-block;
            width: 100%;
            
            li{
                padding: 0 15px;
                margin-bottom: 15px;
                border: none;
                
                .inBoxComplete{
                    .bg(@white);
                    padding: 15px;
                    border-bottom: 1px solid @grey;
                }
            }
        }
    }

    ul.listSelect{
        li{
            padding: 5px 15px;

            .title{
                margin: 0;
                .fw4;
            }

            .icons{
                padding: 0;
                .textRight;

                i{
                    color: @textLight;
                    margin-top: 2px;
                }
            }

            &:hover{
                cursor: pointer;

                i{
                    color: @textDark;
                }
            }
        }
    }
    
    .noListForm{
        display: inline-block;
        margin-top: 7px;
    }
    
    .noMargin{
        margin: 0;
    }
    
    .correctAdd{
        color: @primary;
        float: right;
    }
    
    .importantElem{
        color: @five;
    }
    
    ul.stars{
        display: inline-block;
        margin-left: 10px;

        li{
            margin: 0;
            padding: 0!important;
            border: none!important;
            display: inline;

            .glyphicon{
                margin: 0!important;
                color: @five!important;

                &:hover{
                    cursor: auto!important;
                }
            }
        }
    }
}