#map{
    height: 350px; width: 100%;
    
    .block{
        display: block;

        &.addressAddress, &.addressInternationalPhone{
            margin-bottom: 10px;
        }
    }

    .inline{
        display: inline-block;

        &.addressRating{
            color: @five;
        }

        &.stars{
            margin-left: 10px;
            color: @five;
        }

        &.link{
            float: right;
            margin-left: 10px;
        }
    }
}

#mapPage{
    @shadowMap: 0 0 6px 1px rgba(0,0,0,0.3);
    @widthFindPlace: 350px;
    @heightFindPlace: 30px;
    @widthFormFindPlace: @widthFindPlace;
    @widthMenuMap: 360px;
    
    #mapContent{
        #findPlace{
            .absolute;
            top: 15px; left: 15px;
            display: inline-block;
            height: @heightFindPlace;
            z-index: 10;
            .box-shadow(@shadow: @shadowMap);
            
            #menu{
                width: @heightFindPlace; height: @heightFindPlace;
                display: inline-block;
                .center;
                line-height: @heightFindPlace;
                .bg(@white);
                color: @textLight;
                
                &:hover{
                    cursor: pointer;
                    color: @textDark;
                }
            }
            
            form{
                display: inline-block;
                
                input{
                    height: @heightFindPlace;
                    border: none;
                    vertical-align: inherit;
                    width: @widthFindPlace - (@heightFindPlace * 2);
                    margin: 0 -3px;
                }
                
                button{
                    height: @heightFindPlace;
                    .bg(@primary);
                    color: @white;
                    border: none;
                    width: @heightFindPlace * 2;
                    
                    &:hover{
                        .bg(@primaryDark);
                    }
                    
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
        
        #overlay{
            .absolute;
            top: 0; left: 0; right: 0; bottom:0;
            z-index: 20;
            .bg(rgba(0,0,0,0.4));
        }
        
        #mapMenu{
            .absolute;
            top: 0; bottom: 0; left: 0;
            width: @widthMenuMap;
            z-index: 30;
            .translate3d(-@widthMenuMap;0;0);
            .transition-duration(200ms);
            .bg(@white);
            overflow-y: auto;
                
            &.showMenuMap{
                .translate3d(0;0;0);
                .transition-duration(200ms);
            }
            
            .title{
                .fs(25px);
                .fw3;
                display: inline-block;
                width: 100%;
                padding: 15px;
                border-bottom: 1px solid @grey;
                
                .icons{
                    .fs(12px);
                    float: right;
                    margin: 15px 5px 0 0;
                    color: @textLight;
                    
                    i{
                        margin-right: -8px;
                    }
                    
                    &:hover{
                        cursor: pointer;
                        color: @textDark;
                    }
                }
            }
            
            .innerContentMenuMap{
                display: inline-block;
                width: 100%;
                padding: 25px 0;
                border-bottom: 1px solid @grey;
                
                #categorieMap{
                    margin-bottom: 15px;
                }
                
                #findTypeInCity{
                    input, select{
                        margin-bottom: 15px;
                    }
                    
                    .form-group{
                        margin: 0;
                    }
                }
            }
        }
        
        #errorMap{
            .absolute;
            top: 55px; left: 15px;
            z-index: 10;
            color: @error;
        }
        
        #moreResult{
            .absolute;
            bottom: 15px; right: 0; left: 0;
            z-index: 10;
            .center;
            .translate3d(0;0;0);
            .transition-duration(200ms);
            
            &.down{
                .translate3d(0;60px;0);
                .transition-duration(200ms);
            }
        }
        
        #map{
            .absolute;
            height: 100%;
            z-index: 0;
        }
    }
}