#menuApp{
    .absolute;
    top: @heightHeaderApp; left: 0; bottom: 0;
    width: @widthMenu;
    .bg(@primary);
    color: @white;
    
    #logo{
        height: 120px;
        width: 120px;
        background-size: 90px 90px;
        border: 6px solid @white;
        margin: 25px auto;
    }
}