.modal{
    .absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    .bg(@greyLight);
    .translate3d(0; -9999px; 0);
    z-index: 999999;
    
    .glyphicon-remove{
        .absolute;
        right: 15px; top: 15px;
        color: @grey;
        .fs(16px);
                
        &:hover{
            cursor: pointer;
            color: @textDark;
        }
    }
    
    .modalOut{
        .absolute;
        top: 0; left: 0; bottom: 0; right: 0;
    }
    
    .modalBody{
        color: @textDark;
        width: 400px;
        margin: 0 auto;
        margin-top: 50px;
        .translate3d(0; -60px; 0);
        .opacity(0);
        
        &.showModal{
            .translate3d(0; 0; 0);
            .transition-duration(1000ms);
            .opacity(1);
        }
        
        .modalTitle{
            .relative;
            .uppercase;
            .center;
            .bg(@greyLight);
            color: @grey;
            .fs(60px);
            .fm(sans-serif);
            letter-spacing: -2px;
            .fw9;
        }
        
        .modalContent{
            .bg(@greyLight);
            padding: 15px;
            
            .title{
                display: inline-block;
                width: 100%;
                .fs(16px);
                .center;
                .fw7;
                margin-bottom: 10px;
            }
            
            p{
                .center;
                margin-bottom: 20px;
            }
            
            .btnChangeModal{
                margin: 15px 0;
            }
            
            form{
                margin-bottom: 25px;
                
                .form-group{
                    margin-bottom: 10px;
                    .relative;

                    label{
                        .translate3d(9px; 10px; 0);
                        .transition-duration(200ms);
                        color: @textLight;
                        .fw3;
                        display: inline-block;
                        .bg(@white);
                        padding: 0 5px;
                        .absolute;
                        left: 0; top: 0;
                        margin-bottom: 0;
                        .br(4px);

                        &.move{
                            .translate3d(9px; -8px; 0);
                            .transition-duration(200ms);
                            .fs(14px);
                        }
                    }

                    input.form-control{
                        height: 40px;
                        
                        &:focus{
                            border-color: @primary;
                            .box-shadow(@shadow: none);
                        }
                        
                        &.ng-touched.ng-invalid{
                            border-color: @error;
                            .box-shadow(@shadow: none);
                        }
                        
                        &.errorBackEnd{
                            border-color: @error;
                            .box-shadow(@shadow: none);
                        }
                    }

                    &:last-of-type{
                        margin-bottom: 0;
                    }
                    
                    .errorInfos{
                        .absolute;
                        top: 10px; right: 15px;
                        color: @textLight;
                    }
                }
                
                .link{
                    margin-top: 8px;
                }
            }
            
            .errorModal{
                color: @error;
                display: block;
                width: 100%; 
                .center;
                margin-bottom: 15px;
            }
        }
    }
    
    &.in{
        .translate3d(0; 0; 0);
    }
}