#modalMap{
     @shadowModal: 0 0 6px 1px rgba(0,0,0,0.3);
    
    .absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    .bg(transparent);
    .translate3d(0; -9999px; 0);
    z-index: 999999;
    overflow-y: auto;
    
    &.in{
        .translate3d(0; 0; 0);
    }
    
    .modalMapBody{
        .box-shadow(@shadow: @shadowModal);
        .bg(@white);
        .translate3d(0; -9999px; 0);
        width: 700px;
        margin: 0 auto 30px;
        
        &.showModal{
            .translate3d(0; 30px; 0);
            .transition-duration(400ms);
        }
        
        .modalBlockTitle{
            .center;
            padding: 15px;
            .bg(@greyDarkLight);
            color: @white;
            
            #modalMapTitle{
                .fs(16px);
                .fw3;
            }
            
            .glyphicon-remove{
                float: right;
                .opacity(0.5);
                
                &:hover{
                    cursor: pointer;
                    .opacity(1);
                }
            }
        }
        
        .modalContent{
            padding: 15px;
            
            .title{
                display: inline-block;
                width: 100%;
                .fw7;
                color: @textDark;
                margin-bottom: 2px;
            }
            
            .block{
                display: block;
                
                &.none{
                    display: none;
                }
            }
            
            .inline{
                display: inline-block;
                
                &.none{
                    display: none;
                }
            }
            
            .contentBlock{
                margin-top: 10px;
                
                #addressStars, #priceStars, .starsUserBlock{
                    margin-left: 10px;
                }
            }
            
            #ratingBlock{
                color: @five;
            }

            #openingBlock{
                #addressOpening{
                    li{
                        &.active{
                            color: @primary;
                        }
                    }
                }
            }

            #usersBlock{
                margin-top: 25px;
                
                .title{
                    .center;
                    margin-bottom: 0;
                    .bg(@greyLight);
                    padding: 10px 0;
                }
                
                #userElem{
                    li{
                        padding: 25px 0;
                        border-bottom: 1px solid @grey;
                        
                        &:last-of-type{
                            margin: 0;
                            border: none;
                        }

                        span{
                            &.userName{
                                .fw7;
                                margin-bottom: 2px;
                            }

                            &.userComment{
                                margin-bottom: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}